


<form method="post">
    {% csrf_token %}
    {{form.labels}}
    {{form.as_p}}
    <input type="submit" value="Drop">
</form>
<br>
<br>
<h2>All Comments</h2>
<div class="row">
    <hr>
    {% for comment in comments %}
    <div class="column">
      <div class="card">
        <div style="display: flex;">
        <h2>{{comment.name__username}}</h2>
         <small style="margin: 28px;">Commented On {{comment.droped_on}}</small></div>
        <p>{{comment.body}}</p>
      </div>
    </div>
    <hr>
    {% endfor %}
</div>

{% for comment in comments %}
{{comment.}}
{% endfor %}